/target
/.temp
/tests
/.idea
/profiles
.env
nohup.out
.direnv
.flatpak-builder
build-dir
cargo-sources.json
/modules/*/target
tags*

# Added by cargo
#
# already existing elements were commented out

#/target
