[package]
name = "Swift-launcher"
version = "0.1.0"
edition = "2024"

[dependencies]
slint = "1.14.1"
rust-ini = "0.21.3"
fuzzy-matcher = "0.3.7"
regex = "1.12.2"
evalexpr = "13.1.0"

[build-dependencies]
slint-build = "1.14.1"
